dist/*
dist/**/*
.DS_Store
log/*
config.json
.cabal-sandbox/*
cabal.sandbox.config
setenv.sh
*.aux
*.hp
*.prof
*.ps
xds-site
site_key.txt
.sass-cache/**/*
users.json
deploy/xds-site
deploy/static/**/*
deploy/snaplets/**/*
